body {
    margin: 0;
    overflow: hidden;
    position: relative;
}

.dot {
    position: absolute;
}

.dotName {
    position: absolute;
    text-shadow: 1px 1px 1px #000;
    color: #FFF;
    font-size: 12px;
}

.menuItem {
    margin-bottom: 10px;
}

button {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

label, input, span {
    cursor: pointer;
}
