     .user-point { 
            position: absolute;
            border-radius: 50%;
        }
        .username {
            position: absolute;
            text-align: center;
            width: 100%;
            bottom: -20px;
            font-size: 12px;
        }
        .profile-info {
            display: none;
        }
